.advantages {
  display: flex;
  margin-top: 103px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1140px;
    margin: 0;
    padding-left: 0;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(13, 16, 37, 0.06);
  }

  &__item {
    display: flex;
    padding: 67px 0;
    vertical-align: middle;

  }

  &__text-block {
    margin-left: 36.5px;
  }

  &__icon {

  }

  &__number {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
  }

  &__text {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
  }
}
