.features {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
  @media(max-width: 1024px){
    display: block;
    text-align: center;
  }

  &__img {
    @media (max-width: 1024px){
      width: 50%;
      height: auto;
    }
  }

  &__text-block {
    max-width: 450px;
    margin-top: 55px;
    @media(max-width: 1024px){
      order: -1;
      margin: auto;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #0B132A;
    @media(max-width: 1024px){
      text-align: center;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 20px;
    color: #4F5665;
    @media(max-width: 1024px){
      text-align: center;
    }
  }

  &__list {
    padding-left: 32px;
    list-style: none;
    @media(max-width: 1024px){
      max-width: 175px;
      margin: auto;
      text-align: left;
    }
  }

  &__item {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;

    &::before {
      content: url("../img/icon-list-check.svg");
      position: absolute;
      top: 0;
      left: -32px;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border-radius: 100%;
    }
  }
}
