.location {
  margin-bottom: 35px;

  &__title {
    max-width: 385px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    text-align: center;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 155px;
    text-align: center;
  }

  &__img {
    @media (max-width: 1024px){
      width: 100%;
      height: auto;
    }
  }
}
