.location {
  margin-bottom: 50px;

  @media(min-width: 1024px){
    margin-bottom: 35px;
  }

  &__title {
    max-width: 385px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    text-align: center;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;

    @media(min-width: 1024px){
      margin-bottom: 155px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    @media (min-width: 1024px){
      width: auto;
      height: auto;
    }
  }
}
