.login {
  display: none;

  @media(min-width: 1024px){
    display: block;
  }

  &__in {
    margin-right: 30px;
    font-weight: 500;
    color: #0B132A;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      transition: 0.3s;
    }
    &:visited {
      text-decoration: underline;
    }
    &:active {
      color: #586894;
      transition: 0.3s;
    }
  }

  &__up {
    min-width: calc(59px + 45px * 2);
    padding: 13px 45px;
    font-weight: 500;
    color: #F53855;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #F53855;
    border-radius: 50px;
    &:hover {
      color: #fff;
      background-color: #F53855;
      transition: 0.3s;
    }
    &:active {
      color: #fff;
      background-color: #E43535;
      transition: 0.3s;
    }
  }
}
