.promo {
  display: flex;
  justify-content: space-between;
  margin-top: 88px;
  @media(max-width: 1024px){
    display: block;
  }

  &__text-block {
    @media(max-width: 1024px){
      text-align: center;
    }
  }

  &__title {
    margin-top: 28px;
    margin-bottom: 20px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 50px;
  }

  &__button {
    padding: 18px 78px;
    color: #fff;
    text-decoration: none;
    background-color: #F53838;
    border: none;
    border-radius: 10px;
    min-width: calc(86px + 78px * 2);
    box-shadow: 0px 5px 15px rgba(245, 56, 56, 0.35);
  }

  &__img {
    @media (max-width: 1024px){
      width: 50%;
      height: auto;
    }
  }
}
