.social-icons {

  &__list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

  }

  &__item {
    display: flex;
    margin: auto;

    @media(min-width: 768px){
      margin: 0;
    }
  }

  &__link {

  }
}
