.testimotionals {

  @media (min-width: 1024px){
    padding-bottom: 125px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;

    @media(min-width: 1024px) {
      margin-bottom: 60px;
    }
  }
}
