.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  font-family: "Rubik", sans-serif;

}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
}
